<form class="form" action="/Twit" method="POST">
    <div class="form-group">
        <label for="consumer_key"> Consumer Key </label>
        <input type="text" class="form-control" id="consumer_key" name="consumer_key" value="WZzaqwfcSxndtXlWfUWwqiSPD">
    </div>
    <div class="form-group">
        <label for="consumer_secret"> Consumer secret </label>
        <input type="text" class="form-control" id="consumer_secret" name="consumer_secret" value="wTswKUzxh1ajb5gV4PlFTSzj3B9gJf7yJcUQMtO6hqnyEwRmrq">
    </div>
    <div class="form-group">
        <label for="access_token"> Access Token </label>
        <input type="text" class="form-control" id="access_token" name="access_token" value="281088977-UQiLEMx4sRBQ05w3qjuLS3BKATgHPGnnlgdnJ0KW">
    </div>
    <div class="form-group">
        <label for="access_token_secret"> Access Token Secret </label>
        <input type="text" class="form-control" id="access_token_secret" name="access_token_secret" value="fNOY3iyGudgp7tBlk1BMOAOqMv17C5dv5qjZzBg5Eq7oX">
    </div>
    <div class="form-group">
        <label for="texto"> Texto Twitt </label>
        <input type="text" class="form-control" id="texto" name="texto">
    </div>
    <button type="submit" class="btn btn-default btn-success">
        Twittar
    </button>
</form>